html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color)
}

a {
    text-decoration: none;
}

.page-layout {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}

.page-wrapper {
    max-width: 110rem;
    margin: auto;
}