[data-theme="dark"] {
    --background-color: #0c0d13;
    --secondary-background-color: #282933;
    --text-color: #ffffff;
    --light-background: #33343c;
    --light-background-hover: #393a41;
    --white: #f8f8f8;
    --red: #e62d2d;
}

[data-theme="light"] {
    --background-color: #e5f6fd;
    --secondary-background-color: #fff7f7;
    --text-color: #0c0d13;
    --light-background: #f4f3fc;
    --light-background-hover: #e5e2f7;
    --white: #f8f8f8;
    --red: #e62d2d;
}